:root {
    --white: #161111;
    --facebook: #1877f2;
    --twitter: #1DA1F2;
    --instagram: #E1306C;
    --wsa: #00ff15;
    --github: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:  #d8b011;
    
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
   
}

body {
    background-image: url("https://images.pexels.com/photos/574073/pexels-photo-574073.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(81, 81, 81, .5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.target {
    width: 60rem;
    height: 45rem;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 50px;
    overflow: hidden;

    box-shadow: 15px 15px 20px rgba(0, 0, 0, .5);
}

.header {
    width: 100%;
    height: 16rem;
    overflow: hidden;
    position: relative;
    top: 0;
    background-color: none;
}

.header img {
    width: 100%;
    position: absolute;
    top: -5rem;
}

.information {
    width: 100%;
    height: 29rem;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.information .logo{
    width: 15rem;
    height: 15rem;
   /*  border-radius: 100px; */
    border: 5px solid var(--white);
    position: absolute;
    top: -100px;
}

.information .logo img {
    width: 100%;
}

.info  h1{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 60px;
    letter-spacing: 1px;
    text-align: center;
}

.info h3 {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: center;
    color: #ddd7ca;
}

.social-networks {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
h3 a:hover{
    background-color: rgb(194, 18, 18);
    color: #333333;
}

.button {
    width: 7.5rem;
    height: 4rem;
    margin: 0 15px;
    border-radius: 10px;
    background-color: #bbbbbb;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks img {
    height: 2.8rem;
}

.button.facebook:hover {
    background-color: var(--facebook);
}

.button.twitter:hover {
    background-color: var(--twitter);
}

.button.instagram:hover {
    background-color: var(--instagram);
}

.button.wsa:hover {
    background-color: var(--wsa);
}

.button.github:hover {
    background-color: var(--github);
}

@media screen and (max-width: 760px){
    .target {
        width: 40rem;
        height: 30rem;
    }
    .header {
        height: 8rem;
    }
    .information .logo {
        width: 9.4rem;
        height: 9.4rem;
        border: 3px solid var(--white);
        top: -60px;
    }
    .info h1 {
        font-size: 3rem;
        margin-top: 35px;
    }
    .info h2{
        text-align: center;
    }
    .info h3{
        font-size: 2rem;
        margin-top: 10px;
    }
    .social-networks {
        margin-top: 15px;
    }
    .social-networks img{
        height: 1.8rem;
    }
    .button {
        width: 4.3rem;
        height: 3rem;
        margin: 0 10px;
        border-radius: 7px;
    }
}

@media screen and (max-width: 380px) {
    body {
        background: none;
    }
    .container {
        background-color: #C7C7C7;
    }
    .target {
        width: 27rem;
        height: 52rem;
    }
    .header {
        height: 9.5rem;
    }
    .information .logo {
        top: -35px;
    }
    .info h1 {
        font-size: 2.8rem;
        margin-top: 65px;
    }
    .info h3 {
        font-size: 1.8rem;
        margin-top: 5px;
    }
    .social-networks {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }
    .button {
        width: 12rem;
        height: 3rem;
        margin: 5px 0;
        border-radius: 12px;
    }
}